body{
    font-family: "Montserrat";
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat";
}

p{
  color: #8f8f8f;
}

/* Heading section */
.big-heading{
  font-weight:900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
/* Containers */
.container-fluid{
  padding: 7% 14%;
}
/* sections */

.colored-section {
  background-color: #ff4c68;
  color:white;
}
.white-section {
  background-color: white;
}

/* navigation Bar */
.navbar{
  padding:0 0  4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 1.2rem;
}


/* Download Buttons */
.download-buttons{
  margin: 5% 3% 5% 0;
}
/* Title Section */

#title .container-fluid{
  padding-top: 3%;
  text-align: left;
}
/* Title Images */
.title-image{
  width:60%;
  transform: rotate(25deg);
  position:absolute;
  right: 30%;
}
@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    transform: rotate(0deg);
    position:static;

  }
}
/* Features */
#features{
  position: relative;
}
.feature-Title{
  font-size: 1.5rem;
}
.feature-box{
  padding: 3%;
}
.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}

/* Testimonials section */
#testimonials{
  background-color: #ef8172;
}
.testimonial-text{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin:10px;
}
#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}
.prees-logo{
  width:10%;
  margin:20px 20px 50px;
}

/* pricing section */
#pricing {
  padding:100px;
}

.pricing-text{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-column{
  padding: 3% 2%;
}

/* Call of Action section */
#cta{
  line-height: 1.5;
}

/* footer section */
.footer-icon{
  padding:1%;
}
